.input-container {
    margin-bottom: 15px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #282828;
    color: #fff;
  }
  