.card {
  background-color: #181818;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 5px;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  width: 5%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-content,
.card-title {
  padding: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #1DB954;
}

.card-content {
  font-size: 16px;
  color: black;
}
