.dashboard-view {
    color: #fff;
    background-color: #121212;
  }
  
  .dashboard-header {
    background-color: #181818;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-header h2 {
    margin: 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
  
  .dashboard-logo {
    height: 1.5em;
    margin-left: 0.5em;
  }
  
  .dashboard-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  button {
    background-color: #282828;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #1db954;
    transform: scale(1.05);
  }
  
  .dashboard-content {
    padding: 10px;
  }
  
  /* pour responsive */
  @media (max-width: 768px) {
    .dashboard-header h2 {
      font-size: 1.2em;
    }
  
    .dashboard-logo {
      height: 0.8em;
    }
  
    .dashboard-buttons {
      flex-direction: column;
    }
  
    button {
      width: 100%;
    }
  }
  
/* -------- DASBOARD -------- */
  .dashboard-list-view h2 {
    color: #1DB954;
    margin-bottom: 20px;
  }
  