.player {
    background-color: #282828;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  audio {
    width: 100%;
  }
  